{% extends 'base.html.twig' %}
{% block title %}Liste de course{% endblock %}
{% block body %}
    <container class="m-5">
        <h1>Liste de course</h1>
        <div class="form">
            {{ form_start(formCourse) }}

            {{ form_widget(formCourse) }}
            <button type="submit" class="btn btn-success">
                Ajouter
            </button>
            {{ form_end(formCourse) }}
        </div>
        <table class="table m-5 text-center">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%  for c in courses %}
                <tr>
                    {% if c.isBuy %}
                        <td style="text-decoration: line-through;">{{ c.nom }}</td>
                    {% endif %}
                    {% if c.isBuy == 0 %}
                        <td>{{ c.nom }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('buy', {id: c.id }) }}" class="btn btn-primary">Acheter</a>
                        <a href="{{ path('delete', {id: c.id }) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </container>
{% endblock %}